.image-selector {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: left;
	margin: 20px 0px 20px 0px;
	overflow: auto;
	// border: 1px solid red;

	.image-element {
		margin: 5px;

		.tiny-image {
			width: 64px;
			height: 64px;
		}

		// For the selected image of the tiny images
		.selected-image {
			outline-style: solid;
			outline-color: cornflowerblue;
		}

		&:hover {
			cursor: pointer;
		}
	}
}

.price {
	font-size: 40px;
	font-family: "Quicksand", sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}
