.btn,
.btn-1 {
	padding: 15px;
	background-color: #4287f5;
	border: none;
	border-radius: 5px;
	color: white;
	font-weight: bold;

	&:hover {
		cursor: pointer;
	}
}

.btn-1 {
	background-color: #37d43a;
}

.image-selector {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: left;
	margin: 20px 0px 20px 0px;
	overflow: auto;
	// border: 1px solid red;

	.image-element {
		margin: 5px;

		.tiny-image {
			width: 64px;
			height: 64px;
		}

		// For the selected image of the tiny images
		.selected-image {
			outline-style: solid;
			outline-color: cornflowerblue;
		}

		&:hover {
			cursor: pointer;
		}
	}
}

.input {
	border: none;
	border-bottom: 1px solid black;
	outline-offset: 3px;
	border-radius: 1px;

	&:hover {
		border-bottom: 1px solid gray;
		outline: 2px solid gray;
	}

	&:focus {
		border-bottom: 1px solid cornflowerblue;
		outline: 2px solid cornflowerblue;
	}
}

.input-field {
	margin: 10px;

	.input-parent {
		.input-aesthetic {
			margin-left: 5px;
			padding: 5px;
		}
	}
}

.price {
	font-size: 40px;
	font-family: "Quicksand", sans-serif;
}

.title {
	text-align: center;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Open Sans", sans-serif;
}
