.profile h6 {
  font-size: 25px;
  margin-left: 40%;
  text-align: left;
  grid-area: titles;
}
.profile .error {
  position: absolute;
  width: 400px;
  top: 70px;
  left: 355px;
  text-align: center;
  background-color: rgba(223, 21, 21, 0.8);
  border-radius: 10px;
  padding: 10px;
}
.profile .changeBasicInfo .emailErrorPopup {
  position: absolute;
  top: 510px;
  left: 800px;
  width: 400px;
  height: 50px;
  background-color: rgba(223, 21, 21, 0.8);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}
.profile .changeBasicInfo .emailErrorPopup:hover {
  cursor: pointer;
}
.profile .changeBasicInfo .joiError {
  position: absolute;
  top: 780px;
  left: 350px;
  width: 400px;
  height: 30px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  z-index: 1;
}
.profile .changeBasicInfo .joiError:hover {
  cursor: pointer;
}
.profile .changeBasicInfo .submitSuccessful {
  position: absolute;
  top: 800px;
  left: 350px;
  width: 400px;
  height: 30px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.profile .changeBasicInfo .submitSuccessful:hover {
  cursor: pointer;
}
.profile .changePasswords .messages {
  position: absolute;
  top: 1320px;
  left: 420px;
  padding: 20px;
  border: none;
  border-radius: 5px;
}
.profile .changePasswords .messages:hover {
  cursor: pointer;
}
.profile .changePasswords .show-hide-passwords .show-hide-current-password {
  position: absolute;
  left: 780px;
  top: 1127px;
}
.profile .changePasswords .show-hide-passwords .show-hide-current-password:hover {
  cursor: pointer;
}
.profile .changePasswords .show-hide-passwords .show-hide-new-password {
  position: absolute;
  left: 780px;
  top: 1219px;
}
.profile .changePasswords .show-hide-passwords .show-hide-new-password:hover {
  cursor: pointer;
}
.profile .changePasswords .show-hide-passwords .show-hide-repeat-new-password {
  position: absolute;
  left: 780px;
  top: 1309px;
}
.profile .changePasswords .show-hide-passwords .show-hide-repeat-new-password:hover {
  cursor: pointer;
}
.profile .changePasswords .show-hide-passwords .offset-text {
  left: 840px;
}
.profile .changeAddress .message {
  position: absolute;
  position: absolute;
  top: 2000px;
  left: 320px;
  padding: 20px;
  border: none;
  border-radius: 5px;
}
.profile .changeAddress .message:hover {
  cursor: pointer;
}
.profile .changeBasicInfo .errorPopup,
.profile .changePasswords .errorPopup,
.profile .changeAddress .errorPopup {
  position: absolute;
  width: 400px;
  height: 50px;
  background-color: rgba(223, 21, 21, 0.8);
  border-radius: 10px;
  padding: 10px;
  top: 768px;
  right: 50px;
  border: 1px solid red;
}
.profile .changeBasicInfo .errorPopup:hover,
.profile .changePasswords .errorPopup:hover,
.profile .changeAddress .errorPopup:hover {
  cursor: pointer;
}
.profile .changeBasicInfo .passwordIcon,
.profile .changePasswords .passwordIcon,
.profile .changeAddress .passwordIcon {
  position: relative;
  top: 680px;
  left: 710px;
}
.profile .changeBasicInfo .passwordIcon:hover,
.profile .changePasswords .passwordIcon:hover,
.profile .changeAddress .passwordIcon:hover {
  cursor: pointer;
}
.profile .changeBasicInfo .passwordIconOffset,
.profile .changePasswords .passwordIconOffset,
.profile .changeAddress .passwordIconOffset {
  left: 770px;
  top: 670px;
}
.profile .changeBasicInfo > form,
.profile .changePasswords > form,
.profile .changeAddress > form {
  display: grid;
  grid-template-areas: ". labels inputs ." ". buttons buttons .";
}
.profile .changeBasicInfo > form .profileLabels > label,
.profile .changeBasicInfo > form .profileInputs > input,
.profile .changeBasicInfo > form .changePasswordsLabels > label,
.profile .changeBasicInfo > form .changePasswordsInputs > input,
.profile .changeBasicInfo > form .changeAddressLabels > label,
.profile .changeBasicInfo > form .changeAddressInputs > input,
.profile .changePasswords > form .profileLabels > label,
.profile .changePasswords > form .profileInputs > input,
.profile .changePasswords > form .changePasswordsLabels > label,
.profile .changePasswords > form .changePasswordsInputs > input,
.profile .changePasswords > form .changeAddressLabels > label,
.profile .changePasswords > form .changeAddressInputs > input,
.profile .changeAddress > form .profileLabels > label,
.profile .changeAddress > form .profileInputs > input,
.profile .changeAddress > form .changePasswordsLabels > label,
.profile .changeAddress > form .changePasswordsInputs > input,
.profile .changeAddress > form .changeAddressLabels > label,
.profile .changeAddress > form .changeAddressInputs > input {
  display: block;
  font-size: 25px;
  padding: 20px;
  margin: 20px;
  display: block;
  border: none;
}
.profile .changeBasicInfo > form .profileLabels > label,
.profile .changeBasicInfo > form .changePasswordsLabels > label,
.profile .changeBasicInfo > form .changeAddressLabels > label,
.profile .changePasswords > form .profileLabels > label,
.profile .changePasswords > form .changePasswordsLabels > label,
.profile .changePasswords > form .changeAddressLabels > label,
.profile .changeAddress > form .profileLabels > label,
.profile .changeAddress > form .changePasswordsLabels > label,
.profile .changeAddress > form .changeAddressLabels > label {
  grid-area: labels;
}
.profile .changeBasicInfo > form .profileInputs > input,
.profile .changeBasicInfo > form .changePasswordsInputs > input,
.profile .changeBasicInfo > form .changeAddressInputs > input,
.profile .changePasswords > form .profileInputs > input,
.profile .changePasswords > form .changePasswordsInputs > input,
.profile .changePasswords > form .changeAddressInputs > input,
.profile .changeAddress > form .profileInputs > input,
.profile .changeAddress > form .changePasswordsInputs > input,
.profile .changeAddress > form .changeAddressInputs > input {
  grid-area: inputs;
  border-bottom: 1px solid gray;
  outline: none;
}
.profile .changeBasicInfo > form .profileInputs > input.danger,
.profile .changeBasicInfo > form .changePasswordsInputs > input.danger,
.profile .changeBasicInfo > form .changeAddressInputs > input.danger,
.profile .changePasswords > form .profileInputs > input.danger,
.profile .changePasswords > form .changePasswordsInputs > input.danger,
.profile .changePasswords > form .changeAddressInputs > input.danger,
.profile .changeAddress > form .profileInputs > input.danger,
.profile .changeAddress > form .changePasswordsInputs > input.danger,
.profile .changeAddress > form .changeAddressInputs > input.danger {
  border-radius: 5px;
  border: 3px solid rgba(228, 63, 13, 0.8);
  background-color: white;
}
.profile .changeBasicInfo > form .profileInputs > input:focus,
.profile .changeBasicInfo > form .changePasswordsInputs > input:focus,
.profile .changeBasicInfo > form .changeAddressInputs > input:focus,
.profile .changePasswords > form .profileInputs > input:focus,
.profile .changePasswords > form .changePasswordsInputs > input:focus,
.profile .changePasswords > form .changeAddressInputs > input:focus,
.profile .changeAddress > form .profileInputs > input:focus,
.profile .changeAddress > form .changePasswordsInputs > input:focus,
.profile .changeAddress > form .changeAddressInputs > input:focus {
  border-radius: 5px;
  border: 3px solid rgba(115, 250, 255, 0.8);
}
.profile .changeBasicInfo > form button,
.profile .changePasswords > form button,
.profile .changeAddress > form button {
  grid-area: buttons;
  background-color: black;
  padding: 10px;
  margin: 10px;
  width: 250px;
  font-size: 25px;
  background-color: rgba(17, 143, 228, 0.6);
  border: none;
  border-radius: 5px;
  color: #333;
}
.profile .changeBasicInfo > form button:active, .profile .changeBasicInfo > form button:focus,
.profile .changePasswords > form button:active,
.profile .changePasswords > form button:focus,
.profile .changeAddress > form button:active,
.profile .changeAddress > form button:focus {
  border-color: 2px solid blue;
}
.profile .changeBasicInfo > form button:hover,
.profile .changePasswords > form button:hover,
.profile .changeAddress > form button:hover {
  cursor: pointer;
  background-color: rgba(50, 143, 255, 0.6);
}

/*# sourceMappingURL=Profile.css.map */
