nav {
	
	a {
		padding: 20px;
		text-decoration: none;
		color: black;

		&:hover {
			cursor: pointer;
		}
	}
	
	#footbar {
		display: flex;
		flex-direction: column;
		justify-content: left;
	}
	
	.navbarspan {
		margin: 20px;
	}
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.navlink {
	font-size: 20px;
}