.alertV2 {
	position: absolute;

	.text {
		border-radius: 5px;
		padding: 0px 20px 0px 20px;
		
		.closeIcon {
			position: absolute;
		}
	}

	.danger {
		background-color: rgba(255, 0, 0, 0.85);
	}

	.headerText {
		text-align: center;
	}

	&:hover {
		cursor: pointer;
	}
}