.alertV2 {
	position: absolute;

	.text {
		border-radius: 3px;
		padding: 0px 20px 0px 20px;
		padding: 5px;

		.closeIcon {
			position: absolute;
		}
	}

	.danger {
		background-color: rgba(255, 0, 0, 0.85);
	}

	.headerText {
		text-align: center;
	}

	.success {
		background-color: rgb(91, 250, 131);
	}

	.wait,
	.waiting {
		background-color: aquamarine;
	}

	.warn,
	.warning {
		background-color: rgb(238, 218, 41, 0.85);
	}

	&:hover {
		cursor: pointer;
	}
}
