.create-product {
	.title {
		text-align: center;
	}

	.form-and-image {
		display: flex;
		flex-direction: row;

		.arrow-container {
			display: inline;
			position: absolute;

			.arrow-icon {
				position: relative;
				z-index: 1;

				&:hover {
					cursor: pointer;
				}
			}
		}

		.big-image {
			// Image
			.big-image-wrapper {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				outline-style: solid;
				outline-color: blueviolet;

				.image-input {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;

					.image {
						outline-style: solid;
						outline-color: cornflowerblue;
					}

					&:hover {
						cursor: pointer;
					}
				}
			}

			// Control bar
			.control-bar {
				display: flex;
				flex-direction: row;
				justify-content: center;
				margin-top: 10px;
				
				& > * {
					position: relative;
					padding-left: 5px;
					padding-right: 5px;
					
					&:hover {
						cursor: pointer;
					}
				}
				
				.left {
					position: relative;
					bottom: 4px;
					right: 2px;
					transform: rotate(180deg);
				}
			}
		}

		// Form
		.form {
			width: 100%;

			.product-details {
				.form-title {
					text-align: left;
					margin-left: 20px;
				}

				.labels-inputs {
					display: flex;
					flex-direction: row;

					.labels {
						display: flex;
						flex-shrink: 2;
						flex-direction: column;
						justify-content: space-evenly;

						& > * {
							padding: 10px;
							margin: 10px;
						}
					}

					.inputs {
						display: flex;
						flex-direction: column;
						justify-content: space-evenly;

						width: 100%;
						height: 100%;

						// What I have to do is, dynamiccaly update the input width size
						// parent.clientWidth - label.clientWidth
						input {
							width: 50%;
						}

						& > * {
							padding: 10px;
							margin: 10px;
						}
					}
				}
			}

			& > * {
				flex: 1 100%;
			}
		}
	}

	.images-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: left;
		margin: 20px 0px 20px 0px;

		// For the selected image of the tiny images
		.selected-image {
			outline-style: solid;
			outline-color: cornflowerblue;
		}

		// For the last image of the tiny images
		.last-image {
			opacity: 0.5;

			&:hover {
				cursor: default;
			}
		}

		.images {
			margin-right: 10px;

			.tiny-image {
				width: 64px;
				height: 64px;
			}

			&:hover {
				cursor: pointer;
			}
		}
	}

	.button-position {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		.btn {
			background-color: lightblue;
			border: none;
			outline: none;
			border-radius: 5px;
			padding: 10px;
			margin: 5px;
		}
	}
}
