.create-product {
	.title {
		text-align: center;
	}

	.form {
		display: flex;
		flex-direction: row;

		.image-input {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			outline-style: solid;
			outline-color: blueviolet;

			.image {
				width: 40vw;
				height: 40vh;
			}

			&:hover {
				cursor: pointer;
			}
		}

		.product-details {
			.form-title {
				text-align: left;
				margin-left: 20px;
			}

			.labels-inputs {
				display: flex;
				flex-direction: row;

				.labels {
					display: flex;
					flex-shrink: 2;
					flex-direction: column;
					justify-content: space-evenly;
					
					& > * {
						padding: 10px;
						margin: 10px;
					}
				}

				.inputs {
					display: flex;
					flex-direction: column;
					justify-content: space-evenly;
					
					width: 100%;
					height: 100%;
					
					input {
						width: 50%;
					}

					& > * {
						padding: 10px;
						margin: 10px;
					}
				}
			}
		}

		& > * {
			flex: 1 100%;
		}
	}

	.images-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: left;
		margin: 20px 0px 20px 0px;

		// For the selected image of the tiny images
		.selected-image {
			outline-style: solid;
			outline-color: gray;
		}

		// For the last image of the tiny images
		.last-image {
			opacity: 0.5;

			&:hover {
				cursor: default;
			}
		}

		.images {
			margin-right: 10px;

			.tiny-image {
				width: 64px;
				height: 64px;
			}

			&:hover {
				cursor: pointer;
			}
		}
	}

	.button-position {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		.btn {
			background-color: lightblue;
			border: none;
			outline: none;
			border-radius: 5px;
			padding: 10px;
			margin: 5px;
		}
	}
}
