.register {

	.title {
		grid-area: title;
		font-size: 25px;
		margin-left: 40%;
	}
	
	form {
		
		.registerLabels {
			grid-area: labels;
		}
		.registerInputs {
			grid-area: inputs;
		}
		
		.registerLabels > label, .registerInputs > input {
			display: block;
			font-size: 25px;
			padding: 20px;
			margin: 20px;
			display: block;
			border: none;
		}
		
		.registerInputs > input {
			border-bottom: 1px solid gray;
			
			&:focus {
				border-radius: 5px;
				border: 3px solid rgba(115, 250, 255, .8);
				outline: none;
			}
		}
		
		.registerButton {
			grid-area: button;
			padding: 10px;
			margin: 10px;
			width: 60%;
			font-size: 25px;
			background-color: rgba(115, 200, 255, .4);
			border: none;
			border-radius: 5px;
			color: #333;
			border: 3px solid rgba(115, 200, 255, .5);
			
			&:focus {
				background-color: rgba(115, 125, 255, 1);
			}
		}
	}

	.grid-container {
		display: grid;
		grid-template-areas:
		". title title ."
		". labels inputs ."
		". . button .";
		padding: 10px;
	}
}