.changeAddress {
	button {
		background-color: black;
		padding: 10px;
		margin: 10px;
		width: 250px;
		font-size: 25px;
		background-color: rgba(17, 143, 228, 0.6);
		border: none;
		border-radius: 5px;
		color: #333;

		&:active,
		&:focus {
			border-color: 2px solid blue;
		}

		&:hover {
			cursor: pointer;
			background-color: rgba(50, 143, 255, 0.6);
		}
	}

	.message {
		.danger {
			position: absolute;
			top: 500px;
			left: 500px;
			width: 400px;
			height: 50px;
			background-color: rgb(223, 21, 21, 0.8);
			border-radius: 10px;
			padding: 10px;
			text-align: center;

			&:hover {
				cursor: pointer;
			}
		}
		
		.success {
			position: absolute;
			top: 500px;
			left: 500px;
			width: 400px;
			height: 50px;
			background-color: rgba(13, 231, 148, 0.8);
			border-radius: 10px;
			padding: 10px;
			text-align: center;

			&:hover {
				cursor: pointer;
			}
		}
	}

	form {
		.changeAddressLabels {
			grid-area: cal;
			label {
				display: flex;
				flex-direction: column;
			}
		}

		.changeAddressInputs {
			grid-area: cai;
			input {
				display: flex;
				flex-direction: column;
				border: none;
				border-bottom: 1px solid gray;
				outline: none;

				&.danger {
					border-radius: 5px;
					border: 3px solid rgba(228, 63, 13, 0.8);
					background-color: white;
				}

				&:focus {
					border-radius: 5px;
					border: 3px solid rgba(115, 250, 255, 0.8);
				}
			}
		}
		button {
			grid-area: button;
		}

		display: grid;
		grid-template-areas:
			". cal cai ."
			". . button .";
	}
}
