.ProductView {
	// border: 1px solid red;

	.product {
		display: flex;

		.left {
			.big-image {
				outline: 1px solid blueviolet;
				display: flex;
				justify-content: center;

				.dynamic-image {
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}

		.right {
			display: flex;
			flex-direction: column;
			margin-left: 20px;

			.small {
				font-size: 12px;
			}

			// .title {
			// 	// border: 1px solid green;
			// }
			.separation {
				margin-top: 20px;
			}
		}
	}
}
