.ProductView {
	border: 1px solid red;

	.product {
		display: flex;

		.left {
			.big-image {
				outline-color: blueviolet;
				outline-style: solid;
				display: flex;
			}
		}
		
		.right {
			margin-left: 20px;

			// .title {
			// 	// border: 1px solid green;
			// }
		}
	}
}
